html{
    background-image: url("stbg.jpg");
    background-size: 200vh;
}

.top{
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid white;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    color: white;
}

a{
    color: inherit;
}

nav .listc {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
}

nav .listc li {
    margin-right: 20px; /* Espaçamento entre os itens da lista */
}

.logo img {
    border-radius: 4px;
    width: 100px; 
    height: auto; 
    margin-left: 20px;
}

.txtor{
    left: 40%;
}

.quadrado{
    background: transparent;                                              
    width: 447px;
    height: 500px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ffffff;
    border-radius: 8px;

}

.glogo{
    scale: 0.19;
    position: absolute;
    top: 0.000000001;
    left: 6.5%; 
}

.info{
    background: red;
}

.flog{
    color: white;
    font-size: 23px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    line-height: 1.3333;
    font-weight: 400;
    position: absolute;
    left: 36%; 
    top: 15%;
}

.ir{
    color: white;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    line-height: 1.3333;
    font-weight: 400;
    position: absolute;
    left: 37.5%; 
    top: 22%;
}

.email{
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    background: transparent;
    border-width: 1px;
    width: 360px;
    height: 50px;
    position: absolute;
    left: 9%;
    top: 38%;
    color: white;
}

.email:focus,
.email:active {
    border-width: 2px;
    outline: none !important;
    border-color: #1ecdd6;
}

.email::placeholder{
    font-size: 16px;
    padding-left: 11px;
    color: #ffffff;
}


.esq{
    background-color: transparent;
    border: 1px solid transparent;
    scale: 1.1;
    position: absolute;
    left: 11.5%;
    top: 51%;
    color: #1ecdd6;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: bold;
    cursor: pointer;

}

.priv{
    scale: 0.9;
    position: absolute;
    left: 5.7%;
    top: 59%;
    color: #ffffff;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    line-height: 1.3333;
    font-weight: 400;
}

.saib{
    color: #1ecdd6;
    line-height: 2;
    font-weight: 200;
    cursor: pointer;
}

.criar{
    background-color: transparent;
    border: 1px solid transparent;
    scale: 1.2;
    position: absolute;
    left: 12%;
    top: 81%;
    color: #1ecdd6;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.ent{
    width: 100px;
    height: 36px;
    color: white;
    position: absolute;
    top: 78.8%;
    left: 67.7%;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 600;
    background-color: #1ecdd6;
    border-style: solid;
    border-radius: 4px;
    border-color: #1ecdd6;
    cursor: pointer;
}

.ent:hover{
  background-color: rgb(21, 100, 203);
  border-color: rgb(21, 100, 203);
}

.lang{
  background-color: transparent;
  border: 1px solid transparent;
  scale: 1.1;
  position: absolute;
  top: 92.5%;
  left: 34.5%;
  font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
  font-weight: 200;
  color: white;
  cursor: pointer;
}

.aj{
  background-color: transparent;
  border: 1px solid transparent;
  scale: 1.1;
  position: absolute;
  top: 92.5%;
  left: 50%;
  font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
  font-weight: 200;
  color: white;
  cursor: pointer;
}

.daid{
  background-color: transparent;
  border: 1px solid transparent;
  scale: 1.1;
  position: absolute;
  top: 92.5%;
  left: 54.8%;
  font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
  font-weight: 200;
  color: white;
  cursor: pointer;
}

.ter{
  background-color: transparent;
  border: 1px solid transparent;
  scale: 1.1;
  position: absolute;
  top: 92.5%;
  left: 62%;
  font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
  font-weight: 200;
  color: white;
  cursor: pointer;
}

.set{
    color: black;
  scale: 0.13;
  position: absolute;
  top: 80.9%;
  left: 35.1%;
}
